<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="DoTogether">
    <meta property="og:image" content="TBD">
    <meta property="og:description" content="TBD">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>DoTogether</title>

    <script>
        // 로그인을 위한 함수
        function signin() {
            // formData에 아이디와 비밀번호를 넣어서
            formData = new FormData()
            let userId = document.querySelector("#userid").value
            console.log(userId)
            let password = document.querySelector("#userpw").value
            console.log(password)
            formData.append("userId", userId)
            formData.append("password", password)
            // POST로 /auth/signin에 보냄
            fetch('/auth/signin', { method: "POST", body: formData })
                .then(res => res.json())
                .then((data) => {
                    console.log(data)
                    // 로그인 성공하면, 성공 메세지와 함께 토큰을 받아 쿠키에 저장 후 /로 이동
                    if (data['result'] == 'success') {
                        document.cookie = `token=${data['token']}`
                        window.location.href = '/'
                        // 로그인 실패하면 실패 메세지를 alert
                    } else {
                        alert(data['msg'])
                    }
                })
        }

        // 회원 가입을 원할 경우 회원가입 페이지로 리디렉팅
        function signup() {
            window.location.href = "/signup"
        }
    </script>
</head>

<body>
    <h1 class="d-flex justify-content-center" style="margin-top: 20px;">로그인</h1>
    <form>
        <div style="margin-top: 50px;">
            <div class="col d-flex justify-content-center">
                <!-- 사용자 아이디 입력란 -->
                <div class="form-outline mb-4">
                    <input type="text" id="userid" class="form-control" placeholder="아이디" />
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <!-- 비밀번호 입력란 -->
                <div class="form-outline mb-4">
                    <input type="password" id="userpw" class="form-control" placeholder="비밀번호" />
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <!-- 회원가입 버튼 -->
                <button type="button" class="btn btn-primary btn-block mb-4" onclick="signin()">로그인</button>
            </div>

            <div class="col d-flex justify-content-center">
                <!-- 회원가입 버튼 -->
                <button type="button" class="btn btn-primary btn-block mb-4" onclick="signup()">가입하기</button>
            </div>
    </form>
</body>

</html>